html,body{
   margin: 0;
   font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   background-color: white;

}

#content-column{
    width: 37.5rem;
    height: 802.75rem;
    border-left: 2px solid #EFF3F4;
    border-right: 2px solid #EFF3F4;
    margin: auto;
    display: block;
}

/* Verified Icon */

.r-1cvl2hr {
    color: rgb(29, 155, 240);
}

.r-yyyyoo {
    fill: currentcolor;
}

.r-og9te1 {
    max-width: 1.25rem;
}
.r-f9ja8p {
    max-height: 1.25rem;
}
/* Header */
#header{
    width: 37.375rem;
    height: 3.313rem;
    border-bottom: 2px solid #EFF3F4;
    padding-top: .5rem;
    
}

.header-content{
    display: flex;
    flex-direction: row;

}

#back-button{
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 1rem;
    
}


.flex-column{
    display: flex;
    flex-direction: column;
    width: 28.375rem;
}

.flex-column .display-name{
    font-size: 1.25rem;
    font-weight: bold;
    display: inline;
    color: #0F141A;
}

.sub-header{
    font-size: 0.813rem ;
    color: #536471;
}


/* Cover Photo */

#cover-photo{
width: 37.375rem;
height: 12.458rem;
margin: 0;
}

/* Profile Picture */

/* Profile Container */
#profile-container{
    width: 37.375rem;
    height: 13.991rem;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

#profile-detail .flex-column{
    justify-content: space-between;
}

#sub-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#sub-buttons button:nth-of-type(1){
    margin-right: .5rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #CFD9DD;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: .5rem;
}

#sub-buttons button:nth-of-type(1):hover{
    background-color: #EFF3F4;
}
#sub-buttons button:nth-of-type(2){
    margin-right: 2rem;
    width: 5rem;
    height: 2.25rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background-color: #0F141A;
    font-size: 0.938rem;
    font-weight: 700;
}
 
#sub-bio .sub-header{
margin-bottom: 1rem;
font-size: 0.938rem;
}

#joined-date{
    color: #536471;

}

#social-counter{
    display: flex;
    flex-direction: row;
}

#social-counter p{
    margin-right: .5rem;
    font-weight: 700;
    font-size: 15px;
}
#social-counter span{
    margin-right: 1rem;
    font-weight: normal;
    color: #536471;
}
/* Social Nav */
#nav-content{
    
    height: 3.313rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #EFF3F4;
}

.nav-selector{
    vertical-align: middle;
    text-align: center;
   padding-top: 1rem;
   height: 1.25;
   font-size: 15px;
   color: #536371;
   width: 100%;
}

.nav-selector:nth-of-type(1){
    color: rgb(29, 155, 240);
    border-bottom: 2.5px solid rgb(29, 155, 240);
    border-radius: 1px;
    font-weight: 700;
}

#nav-content .nav-selector:hover{
    cursor: pointer;
    background-color: #EFF3F4;
}

/* Tweet Container */

#tweetContent{
    width: 37.375rem;
    height: fit-content;
    border-bottom: 2px solid #EFF3F4;
}

